/fish/fishd.arch
/fish/functions/__bass.py
/fish/functions/__nvm_run.fish
/fish/functions/bass.fish
/fish/functions/node.fish
/fish/functions/npm.fish
/fish/functions/npx.fish
/fish/functions/nvm.fish
/fish/functions/nvm_alias_command.fish
/fish/functions/nvm_alias_function.fish
/fish/functions/yarn.fish
/fish/fishd.mrurenko
/emacs/.emacs.d/projectile.cache
/emacs/.emacs.d/tramp
/fish/completions/nvm.fish
