" :actionlist [pattern]
"    Find IDE actions by name pattern
" :action {name}
"    Execute an action named NAME
"
"
"    To toggle line numbers do:
"    :set nu
"    :set nonu

" To run over completion results with <C-P> <C-N>
" you neew to go to settings | Keymap | Editor Actions
" and change 'Up' and 'Down' mapings

nnoremap <C-.> :source ~/.ideavimrc<CR>


" Enables vim-surround plugin
set surround

"Start scrolling when we're 8 lines away from margins
set scrolloff=8
set sidescrolloff=15
set sidescroll=1

nnoremap tg gT


" System clipboard support in IdeaVim
" https://gist.github.com/RobertAudi/11ffa90f4952e5923ce7
nnoremap yy "+yy
vnoremap y "+y

nnoremap p "+p
vnoremap p "+p
nnoremap P "+P
vnoremap P "+P


nnoremap <Space>w :w<CR>
nnoremap <Space>q :q<CR>
nnoremap [<Space> O<ESC>j 0 w
nnoremap ]<Space> o<ESC>k 0 w


nnoremap <C-l> <C-W>l
nnoremap <C-k> <C-W>k
nnoremap <C-j> <C-W>j
nnoremap <C-h> <C-W>h


nnoremap <C-x> :action GotoAction<CR>
nnoremap <C-s> :action Find<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>
nnoremap ga :action FindInPath<CR>

nnoremap <C-q> :action RecentFiles<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gs :action GotoSymbol<CR>
nnoremap gl :action FileStructurePopup<CR>

nnoremap za :action CollapseSelection<CR>


nnoremap <Space>s :action emacsIDEAs.AceJumpWord<CR>

nnoremap <C-t> :action HighlightUsagesInFile<CR>

nnoremap <Space>r :action RenameElement<CR>
nnoremap <Space>d :action GotoDeclaration<CR>
nnoremap <Space>i :action GotoImplementation<CR>


nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
nnoremap <A-j> :action MoveLineDown<CR>

" HighlightUsagesInFile
" MethodDown

" MoveStatementDown
" MoveStatementUp

" NavbarPopupMenu
" NextTab
" PreviousTab
" NextEditorTab
" SurroundWith

