set hlsearch
set ignorecase
set smartcase

set scrolloff=8         "Start scrolling when we're 8 lines away from margins
set sidescrolloff=15
set sidescroll=1

nnoremap con :set number! <CR>
nnoremap cor :set relativenumber! <CR>

nnoremap tg gT
inoremap jk <esc>

nnoremap <Space>w :w<CR>
nnoremap <Space>q :q<CR>
" vnoremap y :action Copy<CR>
" nnoremap <Space>p <C-P><CR>
nnoremap [<Space> O<ESC>j 0 w
nnoremap ]<Space> o<ESC>k 0 w


nnoremap <C-r> :source ~/.ideavimrc<CR>
nnoremap <C-l> <C-W>l
nnoremap <C-k> <C-W>k
nnoremap <C-j> <C-W>j
nnoremap <C-h> <C-W>h

" forward/back history navigation
nnoremap <C-O> :action Back<CR>
nnoremap <C-I> :action Forward<CR>

" nmap /f :action Find<CR> " Not working
nnoremap /f :action FindInPath<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>

nnoremap gr :action RecentFiles<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gs :action GotoSymbol<CR>
nnoremap gl :action FileStructurePopup<CR>

nnoremap za :action CollapseSelection<CR>


nnoremap <Space>s :action AceJumpAction<CR>
" vnoremap gs :action GotoSymbol<CR>
" Not working


nnoremap <Space>r :action RenameElement<CR>
nnoremap <Space>8 :action HighlightUsagesInFile<CR>
nnoremap <Space>` :nohlsearch<CR>
nnoremap <Space>d :action GotoDeclaration<CR>
nnoremap <Space>i :action GotoImplementation<CR>


nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
nnoremap <A-j> :action MoveLineDown<CR>

" HighlightUsagesInFile
" MethodDown

" MoveStatementDown
" MoveStatementUp

" NavbarPopupMenu
" NextTab
" PreviousTab
" NextEditorTab
" SurroundWith

